<form id="query-form" method="POST" action="/queries">
  <ul>
    <li>
      <label for="author">Author:</label>
      <input type="text" name="author" placeholder="Who are you?" />
    </li>
    <li>
      <label for="description">Description:</label>
      <input type="text" name="description" placeholder="What is this query about?" />
    </li>
    <li>
      <label for="query">Query:</label>
      <div id="editor-container">
        <textarea name="query"></textarea>
      </div>
    </li>
      <input type="submit" name="submit" value="Run" />
    <li>
    </li>
  </ul>
</form>

<section id="history">
  <h2>Query History</h2>
  <ol>
    <% @queries.each do |query| %>
      <li>
        <span class="date"><%= query.formatted_date %></span>
        <a href="/queries/<%= query.id %>"><%= query.description %></a>
        <% if query.author %>
          <span class="author">(<%= query.author %>)</span>
        <% end %>
        <a class="delete" title="delete" href="/queries/<%= query.id %>">&times;</a>
      </li>
    <% end %>
  </ol>
</section>
