<h1 class="description"><%= @query.description %></h1>

<div id="query-actions">
  <button class="btn edit<% unless @query.named? %> active<% end %>" data-toggle="button">
    <i class="icon-pencil"></i>
    Edit
  </button>
</div>

<dl class="dl-horizontal query-properties">
  <dt>Author</dt>
  <dd class="author"><%= @query.author %>&nbsp;</dd>
  <dt>Started at</dt>
  <dd><%= @query.formatted_start_time %></dd>
  <dt>Finished at</dt>
  <dd><%= @query.formatted_finish_time %></dd>
</dl>

<form class="well form-inline" id="query-properties-form">
  <input type="text" class="input-small author" name="author" placeholder="Author" value="<%= @query.author %>" />
  <input type="text" class="span8 name" name="name" placeholder="Description" value="<%= @query.name %>" />
  <input type="submit" class="btn" name="submit" value="Save" />
</form>

<pre class="cm-s-default"><%= @query.query %></pre>

<% if @query.succeeded? %>
  <table class="table table-condensed" id="results-table">
    <thead>
      <tr>
        <% @headers.each do |label| %>
          <th><%= label %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="results">
      <% @results.each do |result| %>
        <tr>
          <% result.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @query.error %>
  <div class="alert alert-error">
    <strong>Sorry!</strong>
    <%= @query.error %>
  </div>
<% else %>
  <div class="alert alert-info">
    <strong>Head's Up!</strong>
    This query is in progress, and has not returned any results yet.
  </div>
<% end %>

<script type="text/javascript">
  var queryNode = $('pre.cm-s-default');
  CodeMirror.runMode(queryNode.text(), 'mysql', queryNode[0]);
</script>
